HOST             = "localhost"
PROT             = 3320

DB_NAME          = "tasklistapp"
DB_USER          = "postgres"
DB_HOST          = "localhost"
DB_PORT          = 5432
DB_PASSWORD      = ""

REDIS_HOST       = "localhost"
REDIS_PORT       = 6379
REDIS_EXPIRE     = 86400
REDIS_PASSWORD   = ""